<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 1</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Gráfica de Dispersión: Comparativa entre Ansiedad y Depresión en Estudiantes</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Menu Principal</a></li>
            <li><a href="/grafica_barras">Barras</a></li>
            <li><a href="/histograma">Histograma</a></li>
            <li><a href="/grafica_violin">Violín</a></li>
            <li><a href="/grafica_pastel">Pastel</a></li>
            <li><a href="/grafica_dispersion">Dispersión</a></li>
            <li><a href="/grafica_dispersion2">Dispersión 2</a></li>
        </ul>
    </nav>
        <h2>Descripcion:<br><br>Gráfica de Dispersión que representa una comparativa entre el nivel de ansiedad y depresión de los estudiantes.</h2>
        <img id="imagen"src="/static/dispersion.png" alt="barras">
        <pre class="ventana">
           <h2>Observaciones</h2>  
           Se puede apreciar que aproximadamente una tercera parte tienen un nivel bajo de ansiedad y depresión, aunque 
           también hay una fracción en donde se tiene un nivel alto de ambas cosas. Lo que se sugiere que están muy 
           relacionados la ansiedad y la depresión. De hecho hay estudios de una empresa llamada SciElo que respaldan 
           que si una persona tiene un nivel de ansiedad moderada o alta, es mucho más probable que genere depresión o 
           incluso la depresión hace que se genere la ansiedad. Las medidas adecuadas en esta ocasión sería tener un 
           psicólogo exclusivo para cada escuela para que los alumnos puedan ir sin costo alguno y saber sobrellevar 
           estos dos males. Otra medida sería hacer charlas haciendo conciencia sobre cómo la ansiedad y la depresión 
           puede hacer que sea complicado llevar una vida normal y la importancia de la terapia. Sobre las personas con 
           niveles de ansiedad y depresión muy altas, se tienen que tratar de inmediato para evitar que siga afectando en 
           la escuela y en su día a día o evitar incluso puedan llegar a realizar suicidio.  
        </pre>
        <h2 style="text-align: center;">Link Grafico DataWrapper</h2> 
        <pre class="ventana">
            <a href="https://datawrapper.dwcdn.net/AmmHb/1/">https://datawrapper.dwcdn.net/AmmHb/1/</a>
        </pre>
</body>
<footer>
    <p>&copy; 2024 Tu Nombre</p>
</footer>
</html>