<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 1</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Gráfica de Dispersión: Relación de la Autoestima con el Nivel de Estrés</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Menu Principal</a></li>
            <li><a href="/grafica_barras">Barras</a></li>
            <li><a href="/histograma">Histograma</a></li>
            <li><a href="/grafica_violin">Violín</a></li>
            <li><a href="/grafica_pastel">Pastel</a></li>
            <li><a href="/grafica_dispersion">Dispersión</a></li>
            <li><a href="/grafica_dispersion2">Dispersión 2</a></li>
        </ul>
    </nav>
        <h2>Descripcion:<br><br>Gráfica de Dispersión que representa una comparativa entre el Autoestima y Niveles de Estrés de los estudiantes.</h2>
        <img id="imagen"src="\static\dispersion2.png" alt="barras">
        <pre class="ventana">
           <h2>Observaciones</h2>  
           Se puede observar que mientras mayor el nivel de estrés tiene el estudiantes, menos es la autoestima que tienen, 
           sin embargo, en algunos casos se puede observar que no se cumple con la regla con algunos no teniendo mucha 
           autoestima a pesar de no estar estresados y otros estando muy estresados con alta autoestima. Podemos concluir 
           que algunas personas son capaces de gestionar y soportar altos niveles de estrés sin que se vea afectada su 
           autoestima aunque no significa que no sea peligroso ya que podría generar hipertensión a largo plazo. Para 
           combatir esto, se podría fomentar el socializar con los demás, realizar actividad física de manera regular y 
           enseñarles a los estudiantes sobre la gestión del tiempo.

  
        </pre>
        <h2 style="text-align: center;">Link Grafico DataWrapper</h2> 
       <pre class="ventana">
        <a href="https://datawrapper.dwcdn.net/qzY5E/1/">https://datawrapper.dwcdn.net/qzY5E/1/</a>
       </pre>
</body>
<footer>
    <p>&copy; 2024 Tu Nombre</p>
</footer>
</html>