<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gráficas{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header id="header">
        <nav>
            <ul>
                <li><a href="/" class="menu-item">Inicio</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>


    <script src="/static/script.js"></script> <!-- Script de JavaScript -->
</body>
</html>
