{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="menu-container">
        <!-- Gráfica 1 -->
        <div class="menu-item">
            <img src="/static/AutomaticoVSManual.jpg" alt="Gráfica 1" class="menu-image">
            <div class="graph-name">Proporción de vehículos según tipo de transmisión: Manual vs Automático</div>
            <a href="/grafica1" class="button">Ver Gráfica</a>
        </div>

        <!-- Gráfica 2 -->
        <div class="menu-item">
            <img src="/static/combustibles.jpg" alt="Gráfica 2" class="menu-image">
            <div class="graph-name">Distribución del kilometraje por tipo de combustible en vehículos</div>
            <a href="/grafica2" class="button">Ver Gráfica</a>
        </div>

        <!-- Gráfica 3 -->
        <div class="menu-item">
            <img src="/static/Tamanomotorypotencia.jpg" alt="Gráfica 3" class="menu-image">
            <div class="graph-name">Relación entre el Tamaño del Motor y la Potencia Promedio</div>
            <a href="/grafica3" class="button">Ver Gráfica</a>
        </div>

        <!-- Gráfica 4 -->
        <div class="menu-item">
            <img src="/static/Kilometraeportipocombustible.jpg" alt="Gráfica 4" class="menu-image">
            <div class="graph-name">Comparacion de Precios por Tipo de Transmisión</div>
            <a href="/grafica4" class="button">Ver Gráfica</a>
        </div>

        <!-- Gráfica 5 -->
        <div class="menu-item">
            <img src="/static/gasolinavsdiesel.jpg" alt="Gráfica 5" class="menu-image">
            <div class="graph-name">Relación entre Tamaño del Motor, Potencia y Precio</div>
            <a href="/grafica5" class="button">Ver Gráfica</a>
        </div>

        <!-- Gráfica 6 -->
        <div class="menu-item">
            <img src="/static/Trsnmision.jpg" alt="Gráfica 6" class="menu-image">
            <div class="graph-name">Comparación de Precios por Tipo de Transmisión </div>
            <a href="/grafica6" class="button">Ver Gráfica</a>
        </div>

        <!-- Gráfica 7 -->
        <div class="menu-item">
            <img src="/static/PrecioCarroporano.png" alt="Gráfica 7" class="menu-image">
            <div class="graph-name">Precio promedio de los vehículos según el año de fabricación y <br> tipo de combustible</div>
            <a href="/grafica7" class="button">Ver Gráfica</a>
        </div>

        <!-- Gráfica 8 -->
        <div class="menu-item">
            <img src="/static/kilometraje.jpg" alt="Gráfica 8" class="menu-image">
            <div class="graph-name">Kilometraje Promedio de Vehículos por Año de Fabricación</div>
            <a href="/grafica8" class="button">Ver Gráfica</a>
        </div>

        <!-- Gráfica 9 -->
        <div class="menu-item">
            <img src="/static/Precioporauto.jpg" alt="Gráfica 9" class="menu-image">
            <div class="graph-name">Tendencias de mercado en los últimos años</div>
            <a href="/grafica9" class="button">Ver Gráfica</a>
        </div>
        <!-- Gráfica 10 -->
        <div class="menu-item">
            <img src="/static/Potencia.jpg" alt="Gráfica 10" class="menu-image">
            <div class="graph-name">Distribución de Potencia por Tipo de Transmisión</div>
            <a href="/grafica10" class="button">Ver Gráfica</a>
        </div>

        <!-- Gráfica 11 -->
        <div class="menu-item">
            <img src="/static/KilometrajeSeguntransmision.jpg" alt="Gráfica 11" class="menu-image">
            <div class="graph-name">Relación entre Año de Fabricación y Kilometraje según Transmisión</div>
            <a href="/grafica11" class="button">Ver Gráfica</a>
        </div>

    </div>
{% endblock %}
